#history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap column;
}
.history-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 92vw;
}
.history-txt-container {
    display: flex;
    justify-content: center;
    flex-flow: nowrap row;
    max-width: 92vw;
    margin-top: 2rem;
    div {
        flex: 1;
        text-align: justify;
    }
    p {
        margin-bottom: 1rem;
        margin-right: 5rem;
    }
}
.timeline {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap row;
    h1 {
        color: #191919;
        font-size: 4em;
    }
    p, a {
        color: #8d8d8d;
        text-align: left;
    }
} 
.history-col {
    background-color: #242424;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap row;
    width: 25rem;
    p {
        max-width: 70%;
        margin-bottom: 0rem;
    }
    div {
        flex: 2;
        margin: 1rem 1.8rem;
    }
    div + div {
        flex: 1;
        margin-left: -5rem;
    }
    img {
        width: 6.6rem;
        height: 6.6rem;
        border-radius: 50%;
    }
}
.history-col:nth-child(odd) {
    margin-right: 15rem;
    margin-bottom: 2rem;
}
.history-col:nth-child(even) {
    margin-left: 15rem;
    margin-bottom: 2rem;
}
#timeline {
    position: absolute;
    left: 71.5vw;
    background-color: #8d8d8d;
    height: 155rem;
}