#index {
    hr {
        margin-top: 0.5rem;
        width: 50vw;
        border-top: 0.5px solid #707070;
        border-bottom: none;
    }
}
#index__heading {
    position: absolute;
    top: 50vh;
    margin-top: -15rem;
    left: 50vw;
    margin-left: -3rem;
    width: 65rem;
    cursor: default;
    h2 {
        line-height: 3.5em;
        font-size: 1.3em;
        font-weight: 100;
    }
    h1 {
        line-height: 0.9em;
        letter-spacing: 2px;
    }
}
#images__astronaut {
    position: absolute;
    top: -6rem;
    left: -4rem;
    width: 60rem;
    filter: grayscale(100%) brightness(0.70);
    transform: rotate(-35deg);
    z-index: -1;
}
.topics-container {
    position: relative;
    margin-top: 53vh;
    margin-left: 44vw;
    width: 52vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    div {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: justify;
        border-right: dashed 1.5px #242424;
    }
    div + div + div {
        border-right: none;
    }
    a {
        line-height: 1.2em;
        font-size: 0.9em;
    }
}
#hr-topics {
    position: absolute;
    top: 65.5vh;
    left: 50vw;
    margin-left: -2.9rem;
}
.articals-container {
    position: relative;
    margin-top: 3.5vh;
    margin-left: 44vw;
    width: 52vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    div {
        flex: 1.4;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: justify;
    }
    div + div {
        flex: 2;
    }
    div + div + div{
        flex: 2;
    }
}
.articals-author {
    p { text-align: right; }
    span {
        font-weight: 900;
    }
    span + span {
        font-weight: 300;
        font-style: italic;
        font-size: 0.8em;
    }
}