#index__body {
    overflow-y: hidden;
}
#index {
    hr {
        margin-top: 0.5rem;
        width: 50vw;
        border-top: 0.5px solid #707070;
        border-bottom: none;
    }
}
#index__heading {
    position: absolute;
    top: 8.8rem;
    left: 46.5vw;
    width: 65rem;
    cursor: default;
    h2 {
        line-height: 3.5em;
        font-size: 1.3em;
        font-weight: 100;
    }
    h1 {
        line-height: 0.9em;
        letter-spacing: 2px;
    }
}
#images__astronaut {
    position: absolute;
    top: -6rem;
    left: -4rem;
    width: 60rem;
    filter: grayscale(100%) brightness(0.70);
    transform: rotate(-35deg);
    z-index: -1;
}
.topics-container {
    position: relative;
    margin-top: 25.3rem;
    margin-left: 43.6vw;
    width: 52vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    div {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: justify;
        border-right: dashed 1.5px #242424;
    }
    div + div + div {
        border-right: none;
    }
    a {
        line-height: 1.2em;
        font-size: 0.9em;
        font-weight: 100;
    }
    a:hover {
        p { opacity: 0.5; }
    }
}
#hr-topics {
    position: absolute;
    top: 30.4rem;
    left: 50vw;
    margin-left: -2.9rem;
}
.articals-container {
    position: relative;
    margin-top: 1.8rem;
    margin-left: 44vw;
    width: 52vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    div {
        flex: 1.2;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: justify;
        font-weight: 100;
    }
    div + div { flex: 2; }
    div + div + div{ flex: 2; }
}
.articals-author {
    p { text-align: right; }
}