.page-overview {
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 0.7em;
    line-height: 0.7em;
    font-family: open-sans, sans-serif;
    background-color: #A5161F;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    z-index: 9;
    span {
        font-weight: 900;
    }
    span + span {
        font-weight: 100;
    }
}

#index__heading {
    position: absolute;
    top: 50vh;
    margin-top: -15rem;
    left: 50vw;
    margin-left: -3.5rem;
    width: 65rem;
    h2 {
        line-height: 3.5em;
        font-size: 1.5em;
        font-weight: 100;
    }
    h1 {
        line-height: 0.9em;
        letter-spacing: 2px;
    }
}
#images__astronaut {
    position: absolute;
    top: -4rem;
    left: -5rem;
    width: 60rem;
    filter: grayscale(100%) brightness(0.70);
    transform: rotate(-35deg);
    z-index: -1;
}