.timeline-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem;
    padding-bottom: 2rem;
    h1, p, a {
        margin-bottom: 1rem;
    }
}
.countdown-container {
    p {
        color: #A5161F;
        font-size: 2em;
        font-weight: 900;
    }
}