@import url("https://use.typekit.net/zxx6njz.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #ffffff;
}

p {
  font-family: open-sans, sans-serif;
}

h1 {
  font-family: abril-fatface, serif;
  text-transform: uppercase;
  font-size: 5.7em;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.txt-red {
  color: #A5161F;
}

.txt-xl {
  font-size: 1.4em;
  letter-spacing: 6px;
}

a {
  color: #ffffff;
  text-decoration: none;
  line-height: 2em;
  font-family: open-sans, sans-serif;
  font-size: 1em;
}

a:hover {
  opacity: 0.5;
}

.strong {
  font-weight: 900;
}

.italic {
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  background: #191919;
  border: 0.5px solid #191919;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2424248f;
}

#index__body {
  overflow-y: hidden;
}

#index hr {
  margin-top: 0.5rem;
  width: 42.7rem;
  border-top: 0.5px solid #707070;
  border-bottom: none;
}
@media screen and (max-width: 1300px) {
  #index hr {
    display: none;
  }
}

#index__heading {
  position: absolute;
  top: 8.8rem;
  left: 50vw;
  margin-left: -2.8rem;
  width: 65rem;
  cursor: default;
}
@media screen and (max-width: 1300px) {
  #index__heading {
    margin-left: -40%;
  }
  #index__heading .txt-xl {
    font-size: 1em;
    letter-spacing: 5px;
  }
}
#index__heading h1 {
  line-height: 0.9em;
  letter-spacing: 2px;
}
@media screen and (max-width: 1300px) {
  #index__heading h1 {
    font-size: 4em;
  }
}
#index__heading h2 {
  line-height: 3.5em;
  font-size: 1.3em;
  font-weight: 100;
}
@media screen and (max-width: 1300px) {
  #index__heading h2 {
    font-size: 1.2em;
    line-height: 2.5em;
  }
}

#images__astronaut {
  position: absolute;
  top: -6rem;
  left: 50vw;
  margin-left: -48rem;
  width: 60rem;
  filter: grayscale(100%) brightness(0.7);
  transform: rotate(-35deg);
  z-index: -1;
}
@media screen and (max-width: 900px) {
  #images__astronaut {
    margin-left: -73%;
  }
}

.topics-container {
  position: absolute;
  top: 25.3rem;
  left: 50vw;
  margin-left: -3.5rem;
  width: 44rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 1300px) {
  .topics-container {
    top: 20.3rem;
    flex-flow: column nowrap;
    margin-left: -44%;
    width: 90vw;
  }
}
.topics-container div {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
  border-right: dashed 1.5px #242424;
}
@media screen and (max-width: 1300px) {
  .topics-container div {
    border-right: none;
    margin: 0.5rem;
    padding: 1.5rem;
    background: #242424;
    border-radius: 25px;
  }
  .topics-container div p {
    line-height: 1.5em;
  }
}
.topics-container div + div + div {
  border-right: none;
}
.topics-container a {
  line-height: 1.2em;
  font-size: 0.9em;
  font-weight: 100;
}
.topics-container a:hover p {
  opacity: 0.5;
}

#hr-topics {
  position: absolute;
  top: 30.5rem;
  left: 50vw;
  margin-left: -2.8rem;
}
@media screen and (max-width: 1300px) {
  #hr-topics {
    display: none;
  }
}

.articals-container {
  position: absolute;
  top: 32rem;
  left: 50vw;
  margin-left: -3.5rem;
  width: 44rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 1300px) {
  .articals-container {
    display: none;
  }
}
.articals-container div {
  flex: 1.2;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
  font-weight: 100;
}
.articals-container div + div {
  flex: 2;
}
.articals-container div + div + div {
  flex: 2;
}

@media screen and (max-width: 1300px) {
  .articals-author {
    display: none;
  }
}
.articals-author p {
  text-align: right;
}

.page-overview {
  position: absolute;
  top: 2.5rem;
  left: 0;
  font-size: 0.7em;
  line-height: 0.7em;
  font-family: open-sans, sans-serif;
  background-color: #A5161F;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  z-index: 9;
}
.page-overview span + span {
  font-weight: 100;
  cursor: default;
}
.page-overview a {
  line-height: 0;
}
@media screen and (max-width: 1300px) {
  .page-overview {
    top: 3.8%;
  }
}

.search-container {
  position: absolute;
  top: -2rem;
  right: 20rem;
  margin: auto;
  width: 0;
  height: 100px;
  z-index: 9;
}
@media screen and (max-width: 1300px) {
  .search-container {
    top: 2.5%;
    left: 60%;
  }
}
.search-container input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #242424;
  color: #ffffff;
  border-radius: 25px;
  transition: width 0.5s, height 0.9s, transform 1.4s;
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 5;
  padding-left: 2rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1300px) {
  .search-container input {
    background: #8d8d8d;
  }
}
.search-container input:hover {
  cursor: pointer;
}
.search-container input:focus {
  width: 12rem;
  margin-left: -8rem;
  opacity: 1;
  cursor: text;
}
.search-container input:focus ~ .search-icon {
  right: 0rem;
  top: -2px;
  z-index: 6;
}
.search-container input:focus ~ .search-icon::before {
  top: 0;
  left: 0;
  width: 16px;
}
.search-container input:focus ~ .search-icon::after {
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  border: none;
  background: #ffffff;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-container input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-size: 1em;
}
@media screen and (max-width: 1300px) {
  .search-container input::placeholder {
    opacity: 1;
  }
}

.search-icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
}
.search-icon:hover {
  cursor: pointer;
}
.search-icon::before {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 2px;
  background: #ffffff;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search-icon::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: all 0.5s;
}

.--show {
  visibility: visible;
}

.--hide {
  visibility: hidden;
}

#searchTable {
  position: absolute;
  top: 5rem;
  left: 62vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #242424;
  opacity: 1;
  z-index: 6;
  border-radius: 25px;
}
@media screen and (max-width: 1300px) {
  #searchTable {
    background-color: #8d8d8d;
    z-index: 11;
    top: 10%;
    left: 5%;
  }
}

nav {
  right: 0;
  height: 4.5rem;
  width: 100vw;
  background: transparent;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: center;
  list-style: none;
  margin-top: 1.1rem;
}
nav li {
  z-index: 9;
  margin-right: 2.5rem;
}

@media screen and (max-width: 1300px) {
  nav ul {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    top: -3rem;
    right: 0rem;
    padding-top: 8rem;
    padding-left: 3rem;
    background: #242424;
    height: 105vh;
    width: 100vw;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    z-index: 10;
  }
  nav ul.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  nav li {
    padding: 1rem;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 11;
  }

  .line {
    width: 30px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
  }
}
.footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 0rem;
  left: 0vw;
  align-items: center;
  background: #242424;
  width: 100vw;
  height: 4rem;
  padding-right: 1rem;
  margin-top: 5rem;
}

#index__footer {
  position: absolute;
  display: flex;
  top: 22rem;
  left: 50vw;
  margin-left: 26.5rem;
  align-items: center;
}

#SoMe {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#SoMe a {
  margin-left: 0.3rem;
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 50px;
  line-height: 0;
  color: #8d8d8d;
}
#SoMe #Codepen:hover {
  background-color: #000000;
  opacity: 1;
}
#SoMe #Codepen:hover i {
  color: #ffffff;
}
#SoMe #Instagram:hover {
  opacity: 1;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
#SoMe #Instagram:hover i {
  color: #ffffff;
}
#SoMe #Twitter:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #Twitter:hover i {
  color: #00acee;
}
#SoMe #LinkedIn:hover {
  opacity: 1;
  background-color: #0072b1;
}
#SoMe #LinkedIn:hover i {
  color: #ffffff;
}
#SoMe #Facebook:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #Facebook:hover i {
  color: #3b5998;
}
#SoMe #YouTube:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #YouTube:hover i {
  color: #ff0000;
}
#SoMe i {
  font-size: 1.3em;
}

#life {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap column;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slideshow .item {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.slideshow .item img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slideshow .slick-dots {
  position: absolute;
  z-index: 11;
  width: 40px;
  top: 30vh;
  right: 2rem;
  color: #ffffff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
  outline: none;
  background-color: transparent;
  border: none;
  color: transparent;
}
.slideshow .slick-dots li button:before {
  content: "";
  background-color: #242424;
  height: 3px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}

.slideshow-intro__heading {
  width: 50vw;
  height: 100vh;
  top: 0rem;
  left: 50vw;
  position: absolute;
  text-align: left;
  font-size: 2em;
  line-height: 4.5em;
  z-index: 9;
  color: #000000;
  background-color: #ffffff;
  mix-blend-mode: screen;
}
.slideshow-intro__heading h1 {
  margin-top: 10vh;
  margin-left: 1rem;
}

.slideshow-intro__txt {
  position: absolute;
  top: 70vh;
  left: 50vw;
  z-index: 9;
}
.slideshow-intro__txt p {
  color: #000000;
  text-align: justify;
  margin-left: 1.5rem;
  max-width: 73%;
}
.slideshow-intro__txt a {
  color: #000000;
  vertical-align: middle;
  text-align: right;
  margin-right: -10rem;
}

.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.switchTemp {
  font-weight: bold;
  color: #A5161F;
}

.day-container {
  position: relative;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 36, 36, 0.8);
  width: 20vw;
  height: 50vh;
  margin-top: 100vh;
  margin-left: -55vw;
}

.day {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
}
.day div {
  flex: 1;
}
.day i {
  font-size: 3em;
  color: #8d8d8d;
}

.forcast {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: wrap row;
  width: 50vw;
  margin-top: -50vh;
  margin-left: 30vw;
  margin-bottom: 10vw;
}
.forcast div {
  flex: 1;
  background-color: rgba(36, 36, 36, 0.8);
  margin: 1rem;
  padding: 1rem;
  min-width: 8rem;
}
.forcast p {
  margin: 0.3rem;
}

.fa-cloud-sun {
  padding-bottom: 1rem;
}

.slideshow-left__heading {
  width: 100vw;
  height: 100vh;
  top: 0rem;
  left: 0vw;
  position: absolute;
  text-align: left;
  font-size: 1.6em;
  line-height: 5em;
  z-index: 9;
  color: #ffffff;
}
.slideshow-left__heading h1 {
  margin-top: 30vh;
  margin-left: 1rem;
}

.slideshow-left__txt {
  position: absolute;
  bottom: 12.5vh;
  left: 0vw;
  z-index: 9;
  text-align: justify;
  margin-left: 1.5rem;
  max-width: 50%;
}

.slideshow-right__heading {
  width: 70vw;
  height: 100vh;
  top: 0rem;
  right: 7vw;
  position: absolute;
  text-align: right;
  font-size: 1.6em;
  line-height: 4.5em;
  z-index: 9;
  color: #ffffff;
}
.slideshow-right__heading h1 {
  margin-top: 52.5vh;
  margin-right: 2rem;
}

.slideshow-right__txt {
  position: absolute;
  top: 70vh;
  left: 40vw;
  margin-right: 2rem;
  z-index: 9;
  text-align: justify;
  text-align-last: right;
  width: 50vw;
}
.slideshow-right__txt a {
  color: #ffffff;
  vertical-align: middle;
}

#TheRedPlanet {
  font-size: 1.2em;
}

#Atmosphere h1 {
  margin-top: 50vh;
  font-size: 4em;
}

#history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 1rem 0rem;
}
#history h1 {
  color: #191919;
}
#history p, #history a {
  color: #8d8d8d;
}

.history-col {
  background-color: #242424;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap row;
  margin: 2rem;
  width: 30rem;
}
.history-col p {
  max-width: 70%;
}
.history-col div {
  flex: 2;
  margin: 1rem 1.8rem;
}
.history-col div + div {
  flex: 1;
  margin-left: -5rem;
}
.history-col img {
  width: 8.6rem;
  height: 8.6rem;
  border-radius: 50%;
}

.history-col:nth-child(odd) {
  margin-right: 20rem;
}

.history-col:nth-child(even) {
  margin-left: 20rem;
}

#timeline {
  position: absolute;
  left: 50vw;
  margin-left: -0.5rem;
  margin-top: 5rem;
  background-color: #8d8d8d;
  height: 195rem;
}

/*# sourceMappingURL=styles.css.map */
