@import url("https://use.typekit.net/zxx6njz.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #ffffff;
}

p {
  font-family: open-sans, sans-serif;
}

h1 {
  font-family: abril-fatface, serif;
  text-transform: uppercase;
  font-size: 5.7em;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.txt-red {
  color: #A5161F;
}

.txt-xl {
  font-size: 1.4em;
  letter-spacing: 6px;
}

a {
  color: #ffffff;
  text-decoration: none;
  line-height: 2em;
  font-family: open-sans, sans-serif;
  font-size: 1em;
}

a:hover {
  opacity: 0.5;
}

.strong {
  font-weight: 900;
}

.italic {
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
}

#index__body {
  overflow-y: hidden;
}

#index hr {
  margin-top: 0.5rem;
  width: 42.7rem;
  border-top: 0.5px solid #707070;
  border-bottom: none;
}

#index__heading {
  position: absolute;
  top: 8.8rem;
  left: 50vw;
  margin-left: -2.8rem;
  width: 65rem;
  cursor: default;
}
#index__heading h2 {
  line-height: 3.5em;
  font-size: 1.3em;
  font-weight: 100;
}
#index__heading h1 {
  line-height: 0.9em;
  letter-spacing: 2px;
}

#images__astronaut {
  position: absolute;
  top: -6rem;
  left: 50vw;
  margin-left: -48rem;
  width: 60rem;
  filter: grayscale(100%) brightness(0.7);
  transform: rotate(-35deg);
  z-index: -1;
}

.topics-container {
  position: absolute;
  top: 25.3rem;
  left: 50vw;
  margin-left: -3.5rem;
  width: 44rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-family: montserrat, sans-serif;
}
.topics-container div {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
  border-right: dashed 1.5px #242424;
}
.topics-container div + div + div {
  border-right: none;
}
.topics-container a {
  line-height: 1.2em;
  font-size: 0.9em;
  font-weight: 100;
}
.topics-container a:hover p {
  opacity: 0.5;
}

#hr-topics {
  position: absolute;
  top: 30.5rem;
  left: 50vw;
  margin-left: -2.8rem;
}

.articals-container {
  position: absolute;
  top: 32rem;
  left: 50vw;
  margin-left: -3.5rem;
  width: 44rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.articals-container div {
  flex: 1.2;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
  font-weight: 100;
}
.articals-container div + div {
  flex: 2;
}
.articals-container div + div + div {
  flex: 2;
}

.articals-author p {
  text-align: right;
}

.page-overview {
  position: absolute;
  top: 2.5rem;
  left: 0;
  font-size: 0.7em;
  line-height: 0.7em;
  font-family: open-sans, sans-serif;
  background-color: #A5161F;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  z-index: 9;
}
.page-overview span + span {
  font-weight: 100;
  cursor: default;
}
.page-overview a {
  line-height: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1rem;
  right: 2vw;
  width: 40vw;
  z-index: 9;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  margin-right: 1rem;
  margin-left: 1rem;
  z-index: 9;
}

.search-container {
  position: absolute;
  top: -1rem;
  right: 20rem;
  margin: auto;
  width: 0;
  height: 100px;
  z-index: 9;
}
.search-container input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #242424;
  color: #ffffff;
  border-radius: 25px;
  transition: width 0.5s, height 0.9s, transform 1.4s;
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 5;
  padding-left: 2rem;
  letter-spacing: 0.1em;
}
.search-container input:hover {
  cursor: pointer;
}
.search-container input:focus {
  width: 12rem;
  margin-left: -8rem;
  opacity: 1;
  cursor: text;
}
.search-container input:focus ~ .search-icon {
  right: 0rem;
  top: -2px;
  z-index: 6;
}
.search-container input:focus ~ .search-icon::before {
  top: 0;
  left: 0;
  width: 16px;
}
.search-container input:focus ~ .search-icon::after {
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  border: none;
  background: #ffffff;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-container input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-size: 1em;
}

.search-icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
}
.search-icon:hover {
  cursor: pointer;
}
.search-icon::before {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 2px;
  background: #ffffff;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search-icon::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: all 0.5s;
}

.--show {
  visibility: visible;
}

.--hide {
  visibility: hidden;
}

#searchTable {
  position: absolute;
  top: 5rem;
  left: 62vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #242424;
  opacity: 1;
  z-index: 6;
  border-radius: 25px;
}

footer {
  position: absolute;
  display: flex;
  top: 22rem;
  left: 50vw;
  margin-left: 26.5rem;
  align-items: center;
}

#SoMe {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#SoMe a {
  margin-left: 0.3rem;
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 50px;
  line-height: 0;
  color: #8d8d8d;
}
#SoMe #Codepen:hover {
  background-color: #000000;
  opacity: 1;
}
#SoMe #Codepen:hover i {
  color: #ffffff;
}
#SoMe #Instagram:hover {
  opacity: 1;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
#SoMe #Instagram:hover i {
  color: #ffffff;
}
#SoMe #Twitter:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #Twitter:hover i {
  color: #00acee;
}
#SoMe #LinkedIn:hover {
  opacity: 1;
  background-color: #0072b1;
}
#SoMe #LinkedIn:hover i {
  color: #ffffff;
}
#SoMe #Facebook:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #Facebook:hover i {
  color: #3b5998;
}
#SoMe #YouTube:hover {
  opacity: 1;
  background-color: #ffffff;
}
#SoMe #YouTube:hover i {
  color: #ff0000;
}
#SoMe i {
  font-size: 1.3em;
}

/*# sourceMappingURL=styles.css.map */
